.navbar{
  border-bottom:3px solid #008ed6;
  background:#292b2ce0 !important;
}
#home-wrapper{
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(img/home.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  padding:70px 0;
  margin-top: 58px;  
}
.fa-check{
  color:#008ed6;
  font-size:25px
}
.my-3 .text-white,
#para_1{
  font-size:18px
}
#explore{
  background:rgba(51, 51, 51,1);
  overflow:hidden;
}
#learn{
  overflow:hidden;
}
#heading_1{
  font-size: 43px;
  margin-bottom:10px
}
#icon{
  background:#3A3C3E;
}
#share{
  overflow:hidden;
}
#footer{
  background:rgba(51, 51, 51,1);
  overflow:hidden
}
#link{
  font-size:30px;
}
textarea{
  width:100% !important;
  height:130px !important;
}

/* Responsive code */
@media only screen and (max-width:767px){
  #display_4{
    font-size:45px;
  }
}
@media only screen and (max-width:575px) {
  #display_4{
    font-size:37px;
  }
  #display_4_2{
    font-size:40px;
  }
  #para_1{
    font-size:16px;
  }
}
@media only screen and (max-width:375px) {
  #hide_1{
    display:none;
  }
}